# Environment files
.env
.env.local
.env.*.local

# Build output
dist/
.netlify/

# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# Editor directories
.idea/
.vscode/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db